<%- include("header") -%>

<div class="box">
    <h2>
        Name: Abhishek Kumar Gupta
    </h2>
    <h5>
        Phone no: 123*******
        Email: ****@gmail.com 
    </h5>
</div>
<%- include("footer") -%>