<%- include("header") -%>
<body>
    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">

            <% for(var i=0; i<additems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= additems[i] %></p>
                </div>
            <%}%>

            <form action="/" method="post">
                <input type="text" name="NewItem" placeholder="New Item" autocomplete="off" >
                <button type="submit" name="button">+</button>
            
            </form>
            <form action="/contact" method="post">
                <div class="contactMe">
                    <button type="submit" name="contactbutton">Contact Us</button>
                </div>
                
            </form>
    </div>

</body>
<%- include("footer") -%>
